//Variables 

//-- Colors 
$primary-color: rgb(231, 231, 0);
$heading-color: red;
$sub-heading-color: rgb(46, 152, 88);
$body-color : rgb(155, 158, 222); 
$links-color : rgb(228, 222, 235);

//-- Fonts
$body-font : Helvetica, sans-serif; 
$font-family: Impact, Charcoal, sans-serif;
$font-size-recherche: 25px;

//-- Borders 
$border-image : 6px groove rgba(164,5,5,0.77);

.recherche {
    border: 8px solid rgba(164,18,61,0.5);
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    background-color: red;
    font-family: $font-size-recherche ;
}


.titre{
    text-align: center;
    text-shadow: 2px 2px 2px #5b1ca4;
   
}

h1 {
    color : $heading-color;
    background-color : $primary-color;
    text-align: center; 
}

.border{
    border: $border-image;
}
